<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SDK - Config</title>
    <link rel="stylesheet" href="<%= host %>/public/css/config.css">
</head>
<body>
    <div id="body-containner">

        <div id="containner">
            <%- include('./reusable/header.ejs',{index:7}) %>
            <main id="main-containner">
                <div id="main-content">
                    <div id="bot-config-containner">
                        <div id="title-rest-bot-content">
                            <h1 id="title-bot-config">Configurações do BOT</h1>
                            <div id="reset-bot-config-button-content">
                                <button id="reset-bot-config-button">Redefinir Configurações</button>
                            </div>
                        </div>
                        <div class="linha"></div>
                        <div id="bot-config-content">
                            <div class="bot-config-inputs-containner" id="bot-config-idioma">
                                <label class="lable-padrao" for="bot-config-idioma">Idioma do bot</label>
                                <input required type="text" value="pt-br" class="input-padrao" list="bot-config-idioma-list" placeholder="Idioma" id="bot-config-idioma">
                                <datalist id="bot-config-idioma-list">
                                    <option value="pt-br" selected>Português Brasileiro</option>
                                </datalist>
                            </div>
                            <div class="bot-config-inputs-containner" id="bot-config-moeda">
                                <label class="lable-padrao" for="bot-config-moeda">Moeda do bot</label>
                                <input required type="text" value="R$" class="input-padrao" list="bot-config-moeda-list" placeholder="moeda" id="bot-config-moeda">
                                <datalist id="bot-config-moeda-list">
                                    <option value="R$" selected>Real Brasileiro</option>
                                </datalist>
                            </div>
                            <div class="bot-config-inputs-containner" id="bot-config-notice-channel">
                                <label class="lable-padrao" for="bot-config-channel">Canal para as noticias do bot</label>
                                <input required type="text" class="input-padrao" list="bot-config-channel-list" placeholder="canal" id="bot-config-channel">
                                <datalist id="bot-config-channel-list">
                                    <% channels.forEach(element => { %>
                                        <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                    <% }) %>
                                </datalist>
                            </div>
                            <div class="bot-config-inputs-containner" id="bot-config-buy-channel">
                                <label class="lable-padrao" for="bot-config-channel-buy">Canal para exibir compras para o publico</label>
                                <input required type="text" class="input-padrao" list="bot-config-channel-list" placeholder="canal" id="bot-config-channel-buy">
                                <datalist id="bot-config-channel-buy-list">
                                    <% channels.forEach(element => { %>
                                        <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                    <% }) %>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div id="plan-config-containner">
                        <h1 id="title-plan-config">Opções do plano</h1>
                        <div class="linha"></div>
                        <div id="plan-config-content">
                            <div class="plan-config-inputs-containner" >
                                <label class="lable-padrao" for="plan-config-newplan">Trocar de plano</label>
                                <input required type="text" disabled data-currentPlan="<%= server.plan %>" value="Plano <%= server.plan %>" class="input-padrao" list="plan-config-newplan-list" placeholder="Plano" id="plan-config-newplan">
                                <datalist id="plan-config-newplan-list">
                                    <option value="Plano 1" >R$ 9,99</option>
                                    <option value="Plano 2" >R$ 14,99</option>
                                    <option value="Plano 3" >R$ 19,99</option>
                                </datalist>
                            </div>
                            <div class="plan-config-inputs-containner" >
                                <button id="changePaymentMethod" class="button-padrao">Mudar metodo de pagamento</button>
                            </div>
                            <div class="plan-config-inputs-containner" id="plan-config-cancel-containner">
                                <button id="cancelSubscription" class="button-padrao redColor">Cancelar assinatura!</button>
                            </div>
                            <div id="confimCancelSubscription" style="display: none;">
                                <div id="confimCancelSubscription-content">
                                    <h1 class="title-col">Realmente deseja cancelar sua assinatura?</h1>
                                    <div id="confirm-buttons">
                                        <button id="confirmCancelSubscription" class="button-padrao redColor">Cancelar assinatura!</button>
                                        <button id="back-confirm-subscription" class="button-padrao greenColor">Voltar!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div id="other-config-containner">
                        <h1 id="title-other-config">Outras opções</h1>
                        <div class="linha"></div>
                        <div id="other-config-content">
                            <div id="other-config-block-containner" >
                                <div id="other-config-block-content">
                                    <label class="lable-padrao" for="other-config-block-bank">Bloquear banco</label>
                                    <input type="text" class="input-padrao" list="other-config-block-bank-list" placeholder="Banco" id="other-config-block-bank">
                                    <datalist id="other-config-block-bank-list">
                                        <option value="Banco Inter S.A." >Inter</option>
                                        <option value="Picpay Serviços S.A." >PicPay</option>
                                    </datalist>
                                </div>
                                <button id="block-bank-button" class="button-padrao redColor">Bloquear</button>
                            </div>

                        </div>

                    </div>

                    <div id="buttons-containner">
                        <button class="button-padrao" id="save-configs">Salvar</button>
                        <button class="button-padrao redColor" id="cancel-configs">Cancelar</button>
                    </div>
                    
                </div>
            </main>
        </div>
    </div>
    <div>
        <div id="planInfo"><%= server.plan %></div>
    </div>
    <%- include('./reusable/chatLive.ejs',{user:user}) %>
    <%- include('./reusable/script.ejs') %>
    <script src="<%= host %>/public/js/config.js"></script>
</body>
</html>