<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SDK - Personalizar</title>
    <link rel="stylesheet" href="<%= host %>/public/css/personalize.css">
</head>
<body>
    <div id="body-containner">

        <div id="containner">
            <%- include('./reusable/header.ejs',{index:3}) %>
            <main id="main-containner">
                <h1 class="title-col">Modifique o seu bot da maneira que desejar!</h1>
                <p class="desc-col">As alterações são salvas assim que modificadas!</p>
                <div id="main-content-row">
                    <div class="itens-col">
                        <h1 class="title-col">Cor destaque!</h1>
                        <p class="desc-col">Isso modifica as cores principais quando o bot enviar uma mensagem!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <label for="color-dest-input" id="color-dest-preview"></label>
                            <input type="color" id="color-dest-input" hidden>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Cargo de comprador!</h1>
                        <p class="desc-col">⚠ O cargo do bot tem que está acima do cargo que sera dado ao usuario!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <input required type="text" class="input-padrao" list="cargos-input-list" placeholder="Pesquise o cargo..." id="cargos-name-input">
                            <datalist id="cargos-input-list">
                                <% cargos.forEach(element => { %>
                                    <option data-cargos="<%= element.id %>" value="<%= element.name %>"></option>
                                <% }) %>
                            </datalist>
                            <button id="saveCargoPay" class="button-padrao">Salvar Cargo</button>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Nome do bot!</h1>
                        <p class="desc-col">Nome de exibição do bot em seu servidor!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <input required type="text" class="input-padrao" placeholder="Nome" id="bot-name-input">
                            <button id="saveBotName" class="button-padrao">Salvar Nome</button>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Avatar do bot!</h1>
                        <p class="desc-col">Imagem de exibição do bot em seu servidor!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <label id="lableAvatar" for="avatarBotPerso">
                                <img src="<%= host %>/public/img/LOGOFUNDO.png" id="avatarPreview">
                                <input type="file" accept=".jpg, .jpeg, .png" style="opacity: 0; position: absolute; top: -200%;" hidden id="avatarBotPerso">
                            </label>
                        </div>
                    </div>

                    <div class="itens-col">
                        <h1 class="title-col">Icone na mensagem do produto!</h1>
                        <p class="desc-col">Caso essa opção esteja ativa ao criar um novo produto ou enviar uma nova mensagem não ira aparecer o icone do produto (Apenas na embend de mensagem)! </p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col" style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; gap: 1em;">
                            <label for="product-icon" class="lable-padrao">Ative ou desative a exibição do icone abaixo!</label>
                            <label id="product-icon" for="checkbox" style="text-align: center;" class="switch">
                                <input id="checkbox" <%= 'personalize' in server && 'iconProduct' in server.personalize ? server.personalize.iconProduct == true ? 'checked' : '' : 'checked' %> type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div>
        <div id="serverData" data-server="<%= JSON.stringify(server) %>"></div>
        <script>
            let server = JSON.parse(document.getElementById('serverData').getAttribute('data-server'))
        </script>
    </div>
    <%- include('./reusable/chatLive.ejs',{user:user,chatItens:chatItens}) %>
    <%- include('./reusable/script.ejs') %>
    <script src="<%= host %>/public/js/personalize.js"></script>
</body>
</html>