<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SDK - Personalizar</title>
    <link rel="stylesheet" href="<%= host %>/public/css/personalize.css">
</head>
<body>
    <div id="body-containner">

        <div id="containner">
            <%- include('./reusable/header.ejs',{index:3}) %>
            <main id="main-containner">
                <h1 class="title-col">Modifique o seu bot da maneira que desejar!</h1>
                <p class="desc-col">As alterações são salvas assim que modificadas!</p>
                <div id="main-content-row">
                    <div class="itens-col">
                        <h1 class="title-col">Cor destaque!</h1>
                        <p class="desc-col">Isso modifica as cores principais quando o bot enviar uma mensagem!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <label for="color-dest-input" id="color-dest-preview"></label>
                            <input type="color" id="color-dest-input" hidden>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Cargo de comprador!</h1>
                        <p class="desc-col">⚠ O cargo do bot tem que está acima do cargo que sera dado ao usuario!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <input required type="text" class="input-padrao" list="cargos-input-list" placeholder="Pesquise o cargo..." id="cargos-name-input">
                            <datalist id="cargos-input-list">
                                <% cargos.forEach(element => { %>
                                    <option data-cargos="<%= element.id %>" value="<%= element.name %>"></option>
                                <% }) %>
                            </datalist>
                            <button id="saveCargoPay" class="button-padrao">Salvar Cargo</button>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Nome do bot!</h1>
                        <p class="desc-col">Nome de exibição do bot em seu servidor!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <input required type="text" class="input-padrao" placeholder="Nome" id="bot-name-input">
                            <button id="saveBotName" class="button-padrao">Salvar Nome</button>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Avatar do bot!</h1>
                        <p class="desc-col">Imagem de exibição do bot em seu servidor!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <label id="lableAvatar" for="avatarBotPerso">
                                <img src="<%= host %>/public/img/LOGOFUNDO.png" id="avatarPreview">
                                <input type="file" accept=".jpg, .jpeg, .png" style="opacity: 0; position: absolute; top: -200%;" hidden id="avatarBotPerso">
                            </label>
                        </div>
                    </div>

                    <div class="itens-col">
                        <h1 class="title-col">Icone na mensagem do produto!</h1>
                        <p class="desc-col">Caso essa opção esteja ativa ao criar um novo produto ou enviar uma nova mensagem não ira aparecer o icone do produto (Apenas na embend de mensagem)! </p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col" style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; gap: 1em;">
                            <label for="product-icon" class="lable-padrao">Ative ou desative a exibição do icone abaixo!</label>
                            <label id="product-icon" for="checkbox" style="text-align: center;" class="switch">
                                <input id="checkbox" <%= 'personalize' in server && 'iconProduct' in server.personalize ? server.personalize.iconProduct == true ? 'checked' : '' : 'checked' %> type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Canal do feedback!</h1>
                        <p class="desc-col">Canal aonde o usuario ira escrever o feedback sobre um produto!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col">
                            <input required type="text" class="input-padrao" list="feedback-channel-list" placeholder="Pesquise o cargo..." id="feedback-channel-input">
                            <datalist id="feedback-channel-list">
                                <% channels.forEach(element => { %>
                                    <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                <% }) %>
                            </datalist>
                            <button id="saveChannelFeedback" class="button-padrao">Salvar canal</button>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Mensagem de lembrete!</h1>
                        <p class="desc-col">Configure uma mensagem para ser enviada no privado do usuario quando ele não concluir uma compra!</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col" style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; gap: 1em;">
                            <% if ('personalize' in server && 'lembreteMensage' in server.personalize) { %>
                                <div id="buttons-active-desactive-lembrete">
                                    <label for="" class="lable-padrao">Ativar ou desativar a mensagem de boas vindas!</label>
                                    <button id="desative-lembrete" class="button-padrao redColor <%= server.personalize.lembreteMensage.active == true ? '' : 'hidden' %>">Desativar lembrete</button>
                                    <button id="active-lembrete" class="button-padrao greenColor <%= server.personalize.lembreteMensage.active == true ? 'hidden' : '' %>">Ativar lembrete</button>
                                </div>
                            <% } %>
                            <div class="inputs-col-content">
                                <label for="title-lembrete" class="lable-padrao">Titulo da mensagem!</label>
                                <input required type="text" value="<%= 'personalize' in server && 'lembreteMensage' in server.personalize ? server.personalize.lembreteMensage.title :''%>" class="input-padrao" placeholder="Titulo" id="title-lembrete">
                            </div>
                            <div class="inputs-col-content">
                                <label for="mensage-lembrete" class="lable-padrao">Mensagem de boas vindas!</label>
                                <input required type="text" value="<%= 'personalize' in server && 'lembreteMensage' in server.personalize ? server.personalize.lembreteMensage.mensage :''%>"  class="input-padrao" placeholder="Mensagem" id="mensage-lembrete">
                            </div>
                            <button id="save-mensage-lembrete" class="button-padrao">Salvar Mensagem</button>
                        </div>
                    </div>
                    <div class="itens-col">
                        <h1 class="title-col">Mensagem de boas vindas!</h1>
                        <p class="desc-col">Crie uma mensagem de boas vindas no seu server use os comandos abaixo no titulo ou na mensagem: <br>@@server para exibir o nome do servidor<br>@@username para exibir o username do usuario que entrou<br>@@globalname para exibir o nome global do usuario que entrou</p>
                        <div class="linha" style="margin-top: 1em;"></div>
                        <div class="itens-content-col" style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; text-align: center; gap: 1em;">
                            <% if ('personalize' in server && 'welcomeMensage' in server.personalize) { %>
                                <div id="buttons-active-desactive-welcome">
                                    <label for="" class="lable-padrao">Ativar ou desativar a mensagem de boas vindas!</label>
                                    <button id="desative-welcome" class="button-padrao redColor <%= server.personalize.welcomeMensage.active == true ? '' : 'hidden' %>">Desativar mensagem</button>
                                    <button id="active-welcome" class="button-padrao greenColor <%= server.personalize.welcomeMensage.active == true ? 'hidden' : '' %>">Ativar mensagem</button>
                                </div>
                            <% } %>
                            <div class="inputs-col-content">
                                <label for="title-welcome" class="lable-padrao">Titulo da mensagem!</label>
                                <input required type="text" value="<%= 'personalize' in server && 'welcomeMensage' in server.personalize ? server.personalize.welcomeMensage.title :''%>" class="input-padrao" placeholder="Titulo" id="title-welcome">
                            </div>
                            <div class="inputs-col-content">
                                <label for="mensage-welcome" class="lable-padrao">Mensagem de boas vindas!</label>
                                <input required type="text" value="<%= 'personalize' in server && 'welcomeMensage' in server.personalize ? server.personalize.welcomeMensage.mensage :''%>"  class="input-padrao" placeholder="Mensagem" id="mensage-welcome">
                            </div>
                            <div class="inputs-col-content">
                                <label for="welcome-channel-input" class="lable-padrao">Canal de boas vindas!</label>
                                <input required type="text" class="input-padrao" list="welcome-channel-list" placeholder="Pesquise o canal..." id="welcome-channel-input">
                                <datalist id="welcome-channel-list">
                                    <% channels.forEach(element => { %>
                                        <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                    <% }) %>
                                </datalist>
                            </div>
                            <button id="save-mensage-welcome" class="button-padrao">Salvar Mensagem</button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <div>
        <div id="serverData" data-server="<%= JSON.stringify(server) %>"></div>
        <script>
            let server = JSON.parse(document.getElementById('serverData').getAttribute('data-server'))
        </script>
    </div>
    <%- include('./reusable/chatLive.ejs',{user:user,chatItens:chatItens}) %>
    <%- include('./reusable/script.ejs') %>
    <script src="<%= host %>/public/js/personalize.js"></script>
</body>
</html>