<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SDK - Vendas</title>
    <link rel="stylesheet" href="<%= host %>/public/css/sales.css">
</head>
<body>
    <div id="body-containner">
        <div id="add-pix-popup-cotainner" style="display: none;">
            <div id="add-pix-popup-close"></div>
            <div id="add-pix-popup-content">
                <div id="add-pix-popup-top">
                    <div id="add-pix-popup-close-button">
                        <svg class="SvgFill" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="m292.2 256 109.9-109.9c10-10 10-26.2 0-36.2s-26.2-10-36.2 0l-109.9 109.9-109.9-109.9c-10-10-26.2-10-36.2 0s-10 26.2 0 36.2l109.9 109.9-109.9 109.9c-10 10-10 26.2 0 36.2 5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5l109.9-109.9 109.9 109.9c5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5c10-10 10-26.2 0-36.2z"></path></svg>
                    </div>
                    <div id="add-pix-popup-tutorial" title="Tutorial de como pegar o token do mercado pago!">
                        <svg  class="SvgFill" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 512 513" style="enable-background:new 0 0 512 512" xml:space="preserve" fill-rule="evenodd" class=""><g><path d="M256 .5C114.71.5 0 115.21 0 256.5s114.71 256 256 256 256-114.71 256-256S397.29.5 256 .5zm0 18c131.356 0 238 106.644 238 238s-106.644 238-238 238-238-106.644-238-238 106.644-238 238-238zm47 241.454c0-25.957-21.042-46.998-46.998-46.998H256a46.997 46.997 0 0 0-47 47v100.059a47 47 0 0 0 47 47h.002c25.956 0 46.998-21.042 46.998-46.998zm-18 0c0-16.016-12.983-28.998-28.998-28.998H256a28.998 28.998 0 0 0-29 29v100.059a29 29 0 0 0 29 29h.002c16.015 0 28.998-12.983 28.998-28.998zm-29-153.969c-25.94 0-47 21.06-47 47s21.06 47 47 47 47-21.06 47-47-21.06-47-47-47zm0 18c16.006 0 29 12.995 29 29 0 16.006-12.994 29-29 29s-29-12.994-29-29c0-16.005 12.994-29 29-29z" fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg>
                    </div>
                </div>
                <div id="add-pix-popup-input-containner">
                    <label class="lable-padrao" for="add-pix-popup-input">Adicione seu token do mercado pago abaixo:</label>
                    <input class="input-padrao" type="text" name="" id="add-pix-popup-input">
                </div>
                <div id="add-pix-popup-buttons">
                    <button class="button-padrao greenColor" id="add-pix-button">Salvar</button>
                    <button class="button-padrao redColor" id="desativar-pix-button">Desativar</button>
                </div>
            </div>
        </div>
        <div id="confirm-exclud-produto-containner" style="display: none;">
            <div id="confirm-exclud-produto-content">
                <h1 id="confim-exclud-title">Realmente deseja excluir o produto?</h1>
                <div id="confirm-exclud-buttons">
                    <button class="main-button-product" id="product-cancel-exclud-button">Cancelar</button>
                    <button class="main-button-product" id="product-confirm-exclud-button">Confirmar</button>
                </div>
            </div>
        </div>
        <div id="produtos-config-containner" style="display: none;">
            <div id="produtos-config-background"></div>
            <div enctype="multipart/form-data" id="produtos-config-content">
                <div id="close-button-popup-config-produc">
                    <svg class="SvgFill" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path class="SvgFill" d="m292.2 256 109.9-109.9c10-10 10-26.2 0-36.2s-26.2-10-36.2 0l-109.9 109.9-109.9-109.9c-10-10-26.2-10-36.2 0s-10 26.2 0 36.2l109.9 109.9-109.9 109.9c-10 10-10 26.2 0 36.2 5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5l109.9-109.9 109.9 109.9c5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5c10-10 10-26.2 0-36.2z"></path></svg>
                </div>
                <div id="produtos-config-row">
                    <div id="cadastro-left-content">
                        <div id="product-logo-content">
                            <h1 id="logo-title">Mudar logo:</h1>
                            <label for="logo-input-edit">
                                <img id="logo-preview-edit" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                            </label>
                            <input accept="image/*" hidden type="file" id="logo-input-edit">
                        </div>
                        <div id="backGround-containner">
                            <h1 id="backGround-title">Imagem de fundo do produto: <div id="svg-premium"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M36,36h-24l-5,-20l10,8l7,-13l7,13l10,-8z" fill="#f1b604"></path><path d="M12,36h24v5h-24zM24,7c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM42,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM6,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2z" fill="#ff9800"></path></g></g></svg></div></h1>
                            <div id="backGround-content">
                                <div id="backGround-image-preview">
                                    <label for="backGround-preview-edit">Preview da imagem</label>
                                    <img id="backGround-preview-edit" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                </div>
                                <div id="backGround-image-input-content">
                                    <label id="button-backGround-input-edit" data-plan="<%= server.plan %>" for="backGround-input-edit">Anexar Imagem</label>
                                    <input accept="image/*" hidden type="file" <%= server.plan == 1 ? 'disabled' : '' %> name="" id="backGround-input-edit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cadastro-rigth-content">
                        <h1 id="rigth-content-title">Dados do produto:</h1>
                        <div id="rigth-content">
                            <div class="inputs-containner" id="product-name-content">
                                <label class="lable-padrao" for="product-name-edit">Nome do produto</label>
                                <input required  class="input-padrao" placeholder="Nome do produto" type="text" id="product-name-edit">
                            </div>
                            <div class="inputs-containner" id="product-desc-content-edit">
                                <label class="lable-padrao" for="product-desc">Descrição do produto</label>
                                <textarea required placeholder="Descrição do produto" class="input-padrao" id="product-desc-edit"></textarea>
                            </div>
                            
                            <div id="unic-containner-edit">
                                <div id="doble-containner-edit">
                                    <div id="price-containner">
                                        <label class="lable-padrao" for="product-price-edit">Preço do produto</label>
                                        <input required placeholder="Preço R$" class="input-padrao" type="text" id="product-price-edit">
                                    </div>
                                    <button class="main-button-product" id="send-mensage-edit">Reenviar Mensagem</button>
                                </div>
                                <div id="buttons-containner">
                                    <button class="main-button-product" id="product-save-edit-button">Salvar</button>
                                    <button type="button" class="main-button-product" style="background-color: var(--red-color);" id="product-excluir-edit-button">Excluir</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="linha" style="margin-top: 1em;"></div>
                <div id="edit-estoque-config-containner">
                    <h1 class="title-col">Adicionar estoque!</h1>
                    <div id="edit-estoque-config-content">
                        <div id="edit-estoque-inputs-containner">
                            
                        </div>
                        <button type="button" class="main-button-product" id="new-estoque-create">Adiconar estoque!</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="containner">
            <%- include('./reusable/header.ejs',{index:2}) %>
            <main id="main-containner">
                <div id="main-content">
                    <div id="pagamentos-produtos-containner">
                        <div id="pagamentos-containner">
                            <h1 class="title-col">Pagamentos</h1>
                            <p class="desc-col">
                                Adicione os seus dados bancarios abaixo.
                            </p>
                            <div class="linha"></div>
                            <div id="pagamentos-content">
                                <div class="inputs-containner" id="complete-name-content">
                                    <label class="lable-padrao" for="complete-name">Nome completo</label>
                                    <input type="text" value="<%= bankData ? bankData.nome : '' %>" class="input-padrao" placeholder="Nome completo" id="complete-name" >
                                </div>
                                <div class="inputs-containner" id="cpf-content">
                                    <label class="lable-padrao" for="cpf-input">CPF</label>
                                    <input type="<%= bankData ? 'password' : 'text' %>" value="<%= bankData ? bankData.cpf : '' %>" placeholder="EX: 000.000.000-00" minlength="14" class="input-padrao" maxlength="14" id="cpf-input" >
                                </div>
                                <div class="inputs-containner" id="bank-name-content">
                                    <label class="lable-padrao" for="bank-name-input">Nome do banco</label>
                                    <input type="<%= bankData ? 'password' : 'text' %>" value="<%= bankData ? bankData.banco : '' %>"  class="input-padrao"  list="bank-input-list" placeholder="Pesquise o banco..." id="bank-name-input">
                                    <datalist id="bank-input-list"></datalist>
                                </div>
                                <div class="inputs-containner" id="account-number-content">
                                    <label class="lable-padrao" for="account-number">Número da conta</label>
                                    <input type="<%= bankData ? 'password' : 'text' %>" value="<%= bankData ? bankData.numero : '' %>"  class="input-padrao" placeholder="EX: 00000000-0" maxlength="10" minlength="10" id="account-number" >
                                </div>
                                <div id="last-input-containner">
                                    <div class="inputs-containner" style="width: 50% !important;" id="account-number-content">
                                        <label class="lable-padrao" for="account-number">Número da agencia</label>
                                        <input type="<%= bankData ? 'password' : 'text' %>" value="<%= bankData ? bankData.agencia : '' %>"  class="input-padrao"  placeholder="EX: 0000" maxlength="4" minlength="4" id="bank-agenc" >
                                    </div>
                                    <div id="terms-check-content">
                                        <label for="terms-check">Concorda com os termos de uso?</label>
                                        <label id="terms-check" class="switch">
                                            <input id="checkbox" <%= bankData ? 'checked' : '' %> type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div id="buttons-payment-content">
                                    <div id="save-button-content">
                                        <input type="button" id="save-button" class="save-alt-button <%= bankData ? 'hide' : '' %>" value="Salvar">
                                        <input type="button" id="alt-button" class="save-alt-button <%= bankData ? '' : 'hide' %>" value="Alterar">
                                    </div>
                                    <button id="pix-add-button" title="Adicione o seu token mercado pago para receber PIX!">Adicionar PIX</button>
                                </div>
                            </div>
                        </div>
                        <div id="produtos-containner">
                            <h1 class="title-col">Produtos</h1>
                            <p class="desc-col">Clique no botao de configurar para mudar dados sobre o produto.</p>
                            <div class="linha"></div>
                            <div id="produtos-content">
                                <div id="produtos-row">
                                   <% if (server.products) { %>
                                    <% server.products.forEach(element => { %>
                                        <div class="produtos-col">
                                            <div class="produtos-left">
                                                <img src="<%= host %><%= element.productLogo %>">
                                                <div class="produtos-name-price-content">
                                                    <p class="produtos-name" title="<%= element.productName %>"><%= element.productName %></p>
                                                    <p class="produtos-price" title="<%= formatarMoeda(element.price) %>"><%= formatarMoeda(element.price) %></p>
                                                </div>
                                            </div>
                                            
                                            <div class="produtos-estoque-content">
                                                <p class="produtos-estoque-value"><%= element.estoque.length %> em estoque</p>
                                            </div>
                                            <button data-id="<%= element.productID %>" class="produtos-configure-button">Configure</button>
                                        </div>
                                        <div class="linha"></div>
                                    <% }) %>
                                   <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="product-cadastro-containner">
                        <form id="product-cadastro-content" enctype="multipart/form-data" >
                            <h1 class="title-col">Cadastrar Produto</h1>
                            <div class="linha"></div>
                            <div id="cadastro-content">
                                <div id="cadastro-left-content">
                                    <div id="channels-containner">
                                        <h1 id="cannels-title">Selecione o canal de anuncio do produto:</h1>
                                        <div id="channels-content">
                                            <input required type="text" class="input-padrao" list="channels-input-list" placeholder="Pesquise o canal..." id="channel-name-input">
                                            <datalist id="channels-input-list">
                                                <% channels.forEach(element => { %>
                                                    <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                                <% }) %>
                                            </datalist>
                                        </div>
                                    </div>
                                    <div id="backGround-containner">
                                        <h1 id="backGround-title">Imagem de fundo do produto: <div id="svg-premium"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M36,36h-24l-5,-20l10,8l7,-13l7,13l10,-8z" fill="#f1b604"></path><path d="M12,36h24v5h-24zM24,7c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM42,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM6,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2z" fill="#ff9800"></path></g></g></svg></div></h1>
                                        <div id="backGround-content">
                                            <div id="backGround-image-preview">
                                                <label for="image-preview">Preview da imagem</label>
                                                <img id="image-preview" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                            </div>
                                            <div id="backGround-image-input-content">
                                                <label id="button-image-input" data-plan="<%= server.plan %>" for="image-input">Anexar Imagem</label>
                                                <input name="backGround" accept="image/*" hidden type="file" <%= server.plan == 1 ? 'disabled' : '' %> name="" id="image-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cadastro-rigth-content">
                                    <h1 id="rigth-content-title">Dados do produto:</h1>
                                    <div id="rigth-content">
                                        <div class="inputs-containner" id="product-name-content">
                                            <label class="lable-padrao" for="product-name">Nome do produto</label>
                                            <input required class="input-padrao" placeholder="Nome do produto" type="text" id="product-name">
                                        </div>
                                        <div class="inputs-containner" id="product-desc-content">
                                            <label class="lable-padrao" for="product-desc">Descrição do produto</label>
                                            <textarea required placeholder="Descrição do produto" class="input-padrao" id="product-desc"></textarea>
                                        </div>
                                        <div id="unic-containner">
                                            <div id="doble-containner">
                                                <div id="price-containner">
                                                    <label class="lable-padrao" for="product-price">Preço do produto</label>
                                                    <input required placeholder="Preço R$" class="input-padrao" type="text" id="product-price">
                                                </div>
                                                <button class="main-button-product" id="product-cadastro-button">Cadastrar</button>
                                            </div>
                                            <div id="product-logo-content">
                                                <h1 id="logo-title">Adicionar logo:</h1>
                                                <label for="logo-input">
                                                    <img id="logo-preview" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                                </label>
                                                <input name="productLogo" accept="image/*" hidden type="file" id="logo-input">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="linha" style="margin-top: 1em;"></div>
                            <div id="cadastro-estoque-config-containner">
                                <h1 class="title-col">Configure o seu estoque!</h1>
                                <div id="estoque-config-content">
                                    <div id="estoque-config-row">
                                        <div class="estoque-config-col" data-index="1">
                                            <div class="estoque-config-col-top-content">
                                                <h1 class="title-col">Estoque 1</h1>
                                                <div class="estoque-config-exclud-estoque">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"><g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2,2)"><path d="M49,1c-1.66,0 -3,1.34 -3,3c0,1.66 1.34,3 3,3h30c1.66,0 3,-1.34 3,-3c0,-1.66 -1.34,-3 -3,-3zM24,15c-7.17,0 -13,5.83 -13,13c0,7.17 5.83,13 13,13h77v63c0,9.37 -7.63,17 -17,17h-40c-9.37,0 -17,-7.63 -17,-17v-52c0,-1.66 -1.34,-3 -3,-3c-1.66,0 -3,1.34 -3,3v52c0,12.68 10.32,23 23,23h40c12.68,0 23,-10.32 23,-23v-63.35937c5.72,-1.36 10,-6.50062 10,-12.64062c0,-7.17 -5.83,-13 -13,-13zM24,21h80c3.86,0 7,3.14 7,7c0,3.86 -3.14,7 -7,7h-80c-3.86,0 -7,-3.14 -7,-7c0,-3.86 3.14,-7 7,-7zM50,55c-1.66,0 -3,1.34 -3,3v46c0,1.66 1.34,3 3,3c1.66,0 3,-1.34 3,-3v-46c0,-1.66 -1.34,-3 -3,-3zM78,55c-1.66,0 -3,1.34 -3,3v46c0,1.66 1.34,3 3,3c1.66,0 3,-1.34 3,-3v-46c0,-1.66 -1.34,-3 -3,-3z"></path></g></g></svg>
                                                </div>
                                            </div>
                                            <div class="estoque-config-inputs-containner">
                                                <div data-estoque="1" data-input="1" class="estoque-config-inputs">
                                                    <div class="estoque-config-input-content-title">
                                                        <label class="lable-padrao" title="Aqui você vai colocar um titulo para o conteudo que sera fornecido ao usuario!" for="product-price">Titulo do conteudo</label>
                                                        <input name="estoque-title-input" required placeholder="EX: Email, senha, username" maxlength="20" class="input-padrao title-estoque-input" type="text">
                                                    </div>
                                                    <div class="estoque-config-input-content-conteudo">
                                                        <label class="lable-padrao" title="E aqui onde você ira colocar o conteudo que vai ser enviado para o usuario!" for="product-price">Conteudo</label>
                                                        <input name="estoque-content-input" required placeholder="EX: test@gmail.com" class="input-padrao conteudo-estoque-input" type="text">
                                                    </div>
                                                    <div class="estoque-config-exclud-input">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"><g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2,2)"><path d="M49,1c-1.66,0 -3,1.34 -3,3c0,1.66 1.34,3 3,3h30c1.66,0 3,-1.34 3,-3c0,-1.66 -1.34,-3 -3,-3zM24,15c-7.17,0 -13,5.83 -13,13c0,7.17 5.83,13 13,13h77v63c0,9.37 -7.63,17 -17,17h-40c-9.37,0 -17,-7.63 -17,-17v-52c0,-1.66 -1.34,-3 -3,-3c-1.66,0 -3,1.34 -3,3v52c0,12.68 10.32,23 23,23h40c12.68,0 23,-10.32 23,-23v-63.35937c5.72,-1.36 10,-6.50062 10,-12.64062c0,-7.17 -5.83,-13 -13,-13zM24,21h80c3.86,0 7,3.14 7,7c0,3.86 -3.14,7 -7,7h-80c-3.86,0 -7,-3.14 -7,-7c0,-3.86 3.14,-7 7,-7zM50,55c-1.66,0 -3,1.34 -3,3v46c0,1.66 1.34,3 3,3c1.66,0 3,-1.34 3,-3v-46c0,-1.66 -1.34,-3 -3,-3zM78,55c-1.66,0 -3,1.34 -3,3v46c0,1.66 1.34,3 3,3c1.66,0 3,-1.34 3,-3v-46c0,-1.66 -1.34,-3 -3,-3z"></path></g></g></svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="estoque-config-new-data">
                                                <button type="button" data-indice="1" class="estoque-config-new-data-button">
                                                    <svg class="SvgFill" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0,0,256,256"><g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,2c-12.6907,0 -23,10.3093 -23,23c0,12.69071 10.3093,23 23,23c12.69071,0 23,-10.30929 23,-23c0,-12.6907 -10.30929,-23 -23,-23zM25,4c11.60982,0 21,9.39018 21,21c0,11.60982 -9.39018,21 -21,21c-11.60982,0 -21,-9.39018 -21,-21c0,-11.60982 9.39018,-21 21,-21zM24.98438,16.98633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v6h-6c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h6v6c-0.0051,0.36064 0.18438,0.69608 0.49587,0.87789c0.3115,0.18181 0.69676,0.18181 1.00825,0c0.3115,-0.18181 0.50097,-0.51725 0.49587,-0.87789v-6h6c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-6v-6c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212z"></path></g></g></svg>
                                                    Adicionar novo conteudo
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="estoque-config-add">
                                        <button type="button" class="main-button-product" id="estoque-config-add-button">
                                            <svg class="SvgFill" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50px" height="50px" viewBox="0,0,256,256"><g fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M25,2c-12.6907,0 -23,10.3093 -23,23c0,12.69071 10.3093,23 23,23c12.69071,0 23,-10.30929 23,-23c0,-12.6907 -10.30929,-23 -23,-23zM25,4c11.60982,0 21,9.39018 21,21c0,11.60982 -9.39018,21 -21,21c-11.60982,0 -21,-9.39018 -21,-21c0,-11.60982 9.39018,-21 21,-21zM24.98438,16.98633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v6h-6c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h6v6c-0.0051,0.36064 0.18438,0.69608 0.49587,0.87789c0.3115,0.18181 0.69676,0.18181 1.00825,0c0.3115,-0.18181 0.50097,-0.51725 0.49587,-0.87789v-6h6c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-6v-6c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212z"></path></g></g></svg>
                                            Adicionar item ao estoque
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <%- include('./reusable/script.ejs') %>
    <script src="<%= host %>/public/js/sales.js"></script>
</body>
</html>