<!DOCTYPE html>
<html>
<head>
    <%- include('./reusable/head.ejs') %>
    <title>SDK - Vendas</title>
    <link rel="stylesheet" href="/public/css/sales.css">
</head>
<body>
    
    <div id="body-containner">
        <div id="add-pix-popup-cotainner" style="display: none;">
            <div id="add-pix-popup-close"></div>
            <div id="add-pix-popup-content">
                <div id="add-pix-popup-top">
                    <div id="add-pix-popup-close-button">
                        <svg class="SvgFill" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="m292.2 256 109.9-109.9c10-10 10-26.2 0-36.2s-26.2-10-36.2 0l-109.9 109.9-109.9-109.9c-10-10-26.2-10-36.2 0s-10 26.2 0 36.2l109.9 109.9-109.9 109.9c-10 10-10 26.2 0 36.2 5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5l109.9-109.9 109.9 109.9c5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5c10-10 10-26.2 0-36.2z"></path></svg>
                    </div>
                    <div id="add-pix-popup-tutorial" title="Tutorial de como pegar o token do mercado pago!">
                        <svg  class="SvgFill" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 512 513" style="enable-background:new 0 0 512 512" xml:space="preserve" fill-rule="evenodd" class=""><g><path d="M256 .5C114.71.5 0 115.21 0 256.5s114.71 256 256 256 256-114.71 256-256S397.29.5 256 .5zm0 18c131.356 0 238 106.644 238 238s-106.644 238-238 238-238-106.644-238-238 106.644-238 238-238zm47 241.454c0-25.957-21.042-46.998-46.998-46.998H256a46.997 46.997 0 0 0-47 47v100.059a47 47 0 0 0 47 47h.002c25.956 0 46.998-21.042 46.998-46.998zm-18 0c0-16.016-12.983-28.998-28.998-28.998H256a28.998 28.998 0 0 0-29 29v100.059a29 29 0 0 0 29 29h.002c16.015 0 28.998-12.983 28.998-28.998zm-29-153.969c-25.94 0-47 21.06-47 47s21.06 47 47 47 47-21.06 47-47-21.06-47-47-47zm0 18c16.006 0 29 12.995 29 29 0 16.006-12.994 29-29 29s-29-12.994-29-29c0-16.005 12.994-29 29-29z" fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg>
                    </div>
                </div>
                <div id="add-pix-popup-input-containner">
                    <label class="lable-padrao" for="add-pix-popup-input">Adicione seu token do mercado pago abaixo:</label>
                    <input class="input-padrao" type="text" name="" id="add-pix-popup-input">
                </div>
                <div id="add-pix-popup-buttons">
                    <button class="button-padrao greenColor" id="add-pix-button">Salvar</button>
                    <button class="button-padrao redColor" id="desativar-pix-button">Desativar</button>
                </div>
            </div>
        </div>
        
        <div id="produtos-config-containner" style="display: none;">
            <div style="width: 100%; height: 100%; position: fixed; top: 0; left: 0;" class="close-config-popup"></div>
            <div id="produtos-config-content">
                <div id="produtos-config-title">
                    <div style="width: 4em;"></div>
                    <h1 class="title-col">Configuracoes de produtos</h1>
                    <div id="close-config-popup" class="close-config-popup"><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" d="m292.2 256 109.9-109.9c10-10 10-26.2 0-36.2s-26.2-10-36.2 0l-109.9 109.9-109.9-109.9c-10-10-26.2-10-36.2 0s-10 26.2 0 36.2l109.9 109.9-109.9 109.9c-10 10-10 26.2 0 36.2 5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5l109.9-109.9 109.9 109.9c5 5 11.55 7.5 18.1 7.5s13.1-2.5 18.1-7.5c10-10 10-26.2 0-36.2z"></path></svg></div>
                </div>
                <div class="linha"></div>
                <div id="produtos-config-row">
                    <div id="produtos-config-left">
                        <div id="produtos-config-new-channel-content">
                            <h1 class="mini-title-col">Selecione o canal de anuncio do produto:</h1>
                            <div id="produtos-config-new-channel"></div>
                        </div>
                        <div id="produtos-config-new-imagens-containnner">
                            <div id="produtos-config-new-background">
                                <h1 class="backGround-title">Imagem de fundo: </h1>
                                <div id="svg-premium"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M36,36h-24l-5,-20l10,8l7,-13l7,13l10,-8z" fill="#f1b604"></path><path d="M12,36h24v5h-24zM24,7c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM42,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM6,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2z" fill="#ff9800"></path></g></g></svg></div>
                                <div class="backGround-image-preview">
                                    <label for="new-background-input">
                                        <img id="new-background-preview" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                    </label>
                                </div>
                                <div class="backGround-image-input-content">
                                    <label id="button-new-background-input" class="image-lable buttons-background-select" data-plan="<%= server.plan %>" for="new-background-input">Anexar Fundo</label>
                                    <input name="backGround" accept="image/*" <%= server.plan == 'inicial' ? 'disabled' : '' %> hidden type="file" name="" id="new-background-input">
                                </div>
                                
                            </div>
                            <div id="produtos-config-new-logo">
                                <h1 class="backGround-title">Imagem da logo:</h1>
                                <div id="active-logo-product-containner-edit">
                                    Ativar logo? 
                                    <input type="checkbox" id="input-active-logo-product-edit" >
                                </div>
                                <label for="new-logo-input">
                                    <img id="new-logo-preview" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                </label>
                                <label id="button-new-logo-input" class="image-lable buttons-background-select" data-plan="<%= server.plan %>" for="new-logo-input">Anexar Logo</label>
                                <input name="productLogo" accept=".png, .jpg, .jpeg" hidden type="file" id="new-logo-input">
                            </div>
                        </div>
                    </div>
                    <div id="produtos-config-rigth">
                        <div id="produtos-config-dados-containnner">
                            <div class="inputs-containner">
                                <label for="product-config-new-name" class="lable-padrao">Nome do produto: </label>
                                <input type="text" class="input-padrao" id="product-config-new-name" placeholder="Nome do produto">
                            </div>
                            <div class="inputs-containner">
                                <label for="new-product-config-desc" class="lable-padrao">Descrição do produto: </label>
                                <textarea name="productConfigDesc" class="input-padrao" id="new-product-config-desc" placeholder="Descrição"></textarea>
                            </div>
                            <div class="inputs-containner">
                                <label for="product-config-new-price" class="lable-padrao">Preço do produto: </label>
                                <input type="text" class="input-padrao" id="product-config-new-price" placeholder="Preço">
                            </div>
                        </div>
                        <div id="produtos-config-new-style">
                            <h1 class="mini-title-col">Selecione o estilo: </h1>
                            <div id="produtos-config-new-style-content"></div>
                        </div>
                    </div>
                </div>
                <div class="linha"></div>
                <div id="produtos-config-estoque">
                    <h1 class="title-col">Configure o estoque : </h1>

                    <div id="produtos-config-estoque-content">
                        <div id="produtos-estoque-edit-normal" style="display: none;">
                            <div id="produtos-estoque-edit-normal-txt" >
                                <h1 class="mini-title-col">Adicionar estoque por txt</h1>
                                <div id="produtos-estoque-edit-normal-txt-content">
                                    
                                    <div style="display: flex; flex-direction: column; justify-content: end; width: 40%;">
                                        <label for="produtos-estoque-edit-normal-txt-title" class="lable-padrao">Titulo dos itens do txt</label>
                                        <input type="text"  id="produtos-estoque-edit-normal-txt-title" class="input-padrao" placeholder="Padrão: Itens">
                                    </div>

                                    <div id="estoque-config-txt-file-content">
                                        <p class="desc-col" id="estoque-config-txt-file-selected-edit">Nenhum arquivo selecionado :(</p>
                                        <label type="button" class="main-button-product" for="produtos-estoque-edit-normal-txt-file">Adiconar arquivo txt!</label>
                                        <input type="file" hidden accept=".txt" id="produtos-estoque-edit-normal-txt-file">
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- <div id="produtos-estoque-edit-normal-individual-content">
                                <h1 class="mini-title-col">Adicionar estoque individual</h1>
                                <div id="produtos-estoque-edit-normal-individual">
                                    
                                    <div class="inputs-containner">
                                        <label for="product-config-new-individual-title" class="lable-padrao">Titulo do item: </label>
                                        <input type="text" class="input-padrao" id="product-config-new-individual-title" placeholder="Titulo do item">
                                    </div>
                                    <div class="inputs-containner">
                                        <label for="product-config-new-individual-conteudo" class="lable-padrao">Conteudo do item: </label>
                                        <input type="number" class="input-padrao" id="product-config-new-individual-conteudo" placeholder="Conteudo do item">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div id="produtos-estoque-edit-single" style="display: none;">
                            <div class="inputs-containner">
                                <label for="product-config-new-single-content" class="lable-padrao">Conteudo do item: </label>
                                <input type="text" class="input-padrao" id="product-config-new-single-content" placeholder="Conteudo do item">
                            </div>
                            <div class="inputs-containner">
                                <label for="product-config-new-single-number" class="lable-padrao">Quantidade de estoque: </label>
                                <input type="number" class="input-padrao" id="product-config-new-single-number" placeholder="Quantidade de estoque">
                            </div>
                        </div>
                    </div>
                
                </div>
                <div class="linha"></div>
                <div id="produtos-config-buttons">
                    <button class="button-padrao redColor" id="delete-product">Deletar produto</button>
                    <button class="button-padrao" id="send-new-mensage">Reenviar Mensagem</button>
                    <button class="button-padrao greenColor" id="save-new-product">Salvar</button>
                </div>
            </div>
        </div>
        <div id="containner">
            <%- include('./reusable/body.ejs',{index:2}) %>
            <main id="main-containner">
                <div id="main-content">
                    <div id="logs-sales-containner">
                        <div id="public-log-content">
                            <div class="title-logs">
                                <h1 class="title-col">Log publico</h1>
                                <p class="desc-col">Selecione o canal que deseja que apareca um log para o publico de vendas!</p>
                                
                            </div>
                            <div class="linha"></div>
                            <div class="logs-channel-content">
                                <input required type="text" class="input-padrao" list="public-log-list" placeholder="Pesquise o canal..." id="public-log-input">
                                <datalist id="public-log-list">
                                    <% channels.forEach(element => { %>
                                        <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                    <% }) %>
                                </datalist>
                                <button class="button-padrao" id="save-button-public-log">Salvar</button>
                            </div>
                        </div>
                        <div id="private-log-content">
                            <div class="title-logs">
                                <h1 class="title-col">Log privado</h1>
                                <p class="desc-col">Selecione o canal que deseja que apareca um log privado de vendas!</p>
                            </div>
                            <div class="linha"></div>
                            <div class="logs-channel-content">
                                <input required type="text" class="input-padrao" list="private-log-list" placeholder="Pesquise o canal..." id="private-log-input">
                                <datalist id="private-log-list">
                                    <% channels.forEach(element => { %>
                                        <option data-channel="<%= element.id %>" value="<%= element.name %>"></option>
                                    <% }) %>
                                </datalist>
                                <button class="button-padrao" id="save-button-private-log">Salvar</button>
                            </div>
                        </div>
                    </div>
                    <div id="pagamentos-produtos-containner">
                        <div id="pagamentos-containner">
                            <% if (perms.owner == true || perms.paymentEdit && perms.paymentEdit == true) { %>
                                <h1 class="title-col">Pagamentos</h1>
                                <p class="desc-col">
                                    Adicione os seus dados bancarios abaixo.
                                </p>
                                <div class="linha"></div>
                                <div id="pagamentos-content">
                                    <div class="inputs-containner" id="complete-name-content">
                                        <label class="lable-padrao" for="complete-name">Nome completo</label>
                                        <input type="text" value="<%= bankData && bankData.bankID ? bankData.nome : '' %>" class="input-padrao" placeholder="Nome completo" id="complete-name" >
                                    </div>
                                    <div class="inputs-containner" id="cpf-content">
                                        <label class="lable-padrao" for="cpf-input">CPF</label>
                                        <input type="<%= bankData && bankData.bankID ? 'password' : 'text' %>" value="<%= bankData && bankData.bankID ? bankData.cpf : '' %>" placeholder="EX: 000.000.000-00" minlength="14" class="input-padrao" maxlength="14" id="cpf-input" >
                                    </div>
                                    <div class="inputs-containner" id="bank-name-content">
                                        <label class="lable-padrao" for="bank-name-input">Nome do banco</label>
                                        <input type="<%= bankData && bankData.bankID ? 'password' : 'text' %>" value="<%= bankData && bankData.bankID ? bankData.banco : '' %>"  class="input-padrao"  list="bank-input-list" placeholder="Pesquise o banco..." id="bank-name-input">
                                        <datalist id="bank-input-list"></datalist>
                                    </div>
                                    <div class="inputs-containner" id="account-number-content">
                                        <label class="lable-padrao" for="account-number">Número da conta</label>
                                        <input type="<%= bankData && bankData.bankID ? 'password' : 'text' %>" value="<%= bankData && bankData.bankID ? bankData.numero : '' %>"  class="input-padrao" placeholder="EX: 00000000-0" maxlength="10" minlength="10" id="account-number" >
                                    </div>
                                    <div id="last-input-containner">
                                        <div class="inputs-containner" style="width: 50% !important;" id="account-number-content">
                                            <label class="lable-padrao" for="account-number">Número da agencia</label>
                                            <input type="<%= bankData && bankData.bankID ? 'password' : 'text' %>" value="<%= bankData && bankData.bankID ? bankData.agencia : '' %>"  class="input-padrao"  placeholder="EX: 0000" maxlength="4" minlength="4" id="bank-agenc" >
                                        </div>
                                        <div id="terms-check-content">
                                            <label for="terms-check">Concorda com os termos de uso?</label>
                                            <label id="terms-check" class="switch">
                                                <input id="checkbox" <%= bankData ? 'checked' : '' %> type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div id="buttons-payment-content">
                                        <div id="save-button-content">
                                            <input type="button" id="save-button" class="save-alt-button <%= bankData && bankData.bankID ? 'hide' : '' %>" value="Salvar">
                                            <input type="button" id="alt-button" class="save-alt-button <%= bankData && bankData.bankID ? '' : 'hide' %>" value="Alterar">
                                        </div>
                                        <button id="pix-add-button" title="Adicione o seu token mercado pago para receber PIX!">Adicionar PIX</button>
                                    </div>
                                </div>
                            <% }%>
                        </div>
                        <div id="produtos-containner">
                            <h1 class="title-col">Produtos</h1>
                            <p class="desc-col">Clique no botao de configurar para mudar dados sobre o produto.</p>
                            <div class="linha"></div>
                            <div id="produtos-content">
                                <div id="produtos-row">
                                   <% if (server.products) { %>
                                    <% server.products.forEach(element => { %>
                                        <div class="produtos-col">
                                            <div class="produtos-left">
                                                <img src="<%= element.productLogo %>">
                                                <div class="produtos-name-price-content">
                                                    <p class="produtos-name" title="<%= element.productName %>"><%= element.productName %></p>
                                                    <p class="produtos-price" title="<%= formatarMoeda(element.price) %>"><%= formatarMoeda(element.price) %></p>
                                                </div>
                                            </div>
                                            
                                            <div class="produtos-estoque-content">
                                                <p class="produtos-estoque-value"><%= 'typeProduct' in element ? element.typeProduct == 'normal' ? element.estoque.length + ' em estoque' : element.typeProduct == 'multiple' ? element.estoque : element.estoque + ' em estoque' : element.estoque.length + ' em estoque'  %></p>
                                            </div>
                                            <button data-id="<%= element.productID %>" class="produtos-configure-button">Configure</button>
                                        </div>
                                        <div class="linha"></div>
                                    <% }) %>
                                   <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="product-cadastro-containner">
                        <div class="product-cadastro-content" id="form-prodc">
                            <h1 class="title-col">Cadastrar Produto</h1>
                            <div class="linha"></div>
                            <div class="cadastro-content">
                                <div class="cadastro-rigth-content">
                                    <h1 class="rigth-content-title">Dados do produto:</h1>
                                    <div class="rigth-content">
                                        <div class="inputs-containner" id="product-name-content">
                                            <label class="lable-padrao" for="product-name"><span class="obrigatorio">* </span>Nome do produto</label>
                                            <input required class="input-padrao" placeholder="Nome do produto" type="text" id="product-name">
                                        </div>
                                        <div class="inputs-containner" id="product-desc-content">
                                            <label class="lable-padrao" for="product-desc"><span class="obrigatorio">* </span>Descrição do produto</label>
                                            <textarea required placeholder="Descrição do produto" class="input-padrao" id="product-desc"></textarea>
                                        </div>
                                        <div class="inputs-containner" id="product-price-content">
                                            <label class="lable-padrao" for="product-price"><span class="obrigatorio">* </span>Preço do produto</label>
                                            <input required placeholder="Preço do produto" class="input-padrao" id="product-price"></input>
                                        </div>
                                        <div class="unic-containner">
                                            <div class="doble-containner">
                                                
                                                <h1 class="backGround-title">Imagem de fundo: </h1>
                                                <div id="svg-premium"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M36,36h-24l-5,-20l10,8l7,-13l7,13l10,-8z" fill="#f1b604"></path><path d="M12,36h24v5h-24zM24,7c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM42,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2zM6,12c-1.10457,0 -2,0.89543 -2,2c0,1.10457 0.89543,2 2,2c1.10457,0 2,-0.89543 2,-2c0,-1.10457 -0.89543,-2 -2,-2z" fill="#ff9800"></path></g></g></svg></div>
                                                <div class="backGround-image-preview">
                                                    <label for="image-input">
                                                        <img id="image-preview" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                                    </label>
                                                </div>
                                                <div class="backGround-image-input-content">
                                                    <label id="button-image-input" class="image-lable buttons-background-select" data-plan="<%= server.plan %>" for="image-input">Anexar Fundo</label>
                                                    <input name="backGround" accept="image/*" <%= server.plan == 'inicial' ? 'disabled' : '' %> hidden type="file" name="" id="image-input">
                                                </div>
                                                
                                            </div>
                                            <div class="product-logo-content">
                                                <h1 class="logo-title"><span class="obrigatorio">* </span> Imagem da logo:</h1>
                                                <div id="active-logo-product-containner">
                                                    Ativar logo? 
                                                    <input type="checkbox" id="input-active-logo-product" >
                                                </div>
                                                <label for="logo-input">
                                                    <img id="logo-preview" src="https://res.cloudinary.com/dgcnfudya/image/upload/v1704981573/gxorbaldn7fw5ojcv1s0.jpg" alt="">
                                                </label>
                                                <label id="button-logo-input" class="image-lable buttons-background-select" data-plan="<%= server.plan %>" for="logo-input">Anexar Logo</label>
                                                <input name="productLogo" accept=".png, .jpg, .jpeg" hidden type="file" id="logo-input">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="cadastro-left-content">
                                    <div class="channels-containner">
                                        <h1 class="cannels-title"><span class="obrigatorio">* </span>Selecione o canal de anuncio do produto:</h1>
                                        
                                        <div id="select-menu-channel-create-product"></div>
                                        
                                    </div>
                                    <div class="linha"></div>
                                    <div id="infos-select-popup" >
                                        <p id="info-select-popup-text" class="mini-title-col"></p>

                                        <img src="" id="info-select-popup-img">
                                    </div>
                                    <div id="type-product-select">
                                        <h2 class="mini-title-col"><span class="obrigatorio">* </span>Selecione o tipo de produto:</h2>
                                        <div id="type-product-select-content"></div>
                                    </div>
                                    <div class="linha"></div>
                                    <div id="select-type-embend-content">
                                        <h2 class="mini-title-col"><span class="obrigatorio">* </span>Selecione o estilo:</h2>
                                        <div id="type-embend-select-content">
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
                            </div>
                            <div class="linha" style="margin-top: 1em;"></div>
                            <div id="others-configs-product-containner">
                                <div id="cadastro-estoque-multi-product" style="display: none;">
                                    <h1 class="title-col">Configure seu multi produto</h1>
                                    <div style="width: 60%; min-width: 20em;">
                                        <label for="select-menu-multi-product" class="lable-padrao">Selecione os produtos</label>
                                        <div id="select-menu-multi-product"></div>
                                    </div>
                                   
                                </div>
                                <div id="cadastro-assinatura-estoque-config-containner" style="display: none;">
                                    <h1 class="title-col">Configure a assinatura:</h1>
                                    <div id="cadastro-assinatura-estoque-config">
                                        <div id="select-type-time-content">
                                            <h2 class="mini-title-col"><span class="obrigatorio">* </span>Selecione a unidades de tempo:</h2>
                                            <div id="subscription-time-select-content"></div>
                                        </div>
                                        <div id="other-configs-assintura">
                                            <div id="cargo-configs-assintura">
                                                <h2 class="mini-title-col"><span class="obrigatorio">*</span> Coloque o tempo da assinatura abaixo:</h2>
                                                <input type="number" id="time-number-input-assinatura" placeholder="Coloque o numero de horas, dias ou meses da assinatura" class="input-padrao">
                                            </div>
                                            <div class="linha"></div>
                                            <div id="cargo-configs-assintura">
                                                <h2 class="mini-title-col">Caso deseje que o usuário receba um cargo ao assinar o produto, coloque abaixo:</h2>
                                                <div id="select-cargo-assinatura"></div>
                                            </div>
                                            

                                        </div>
                                    </div>
                                </div>

                                <div id="cadastro-number-estoque-config-containner" style="display: none;">
                                    <h1 class="title-col">Quantidade de estoque:</h1>
                                    <div id="cadastro-number-estoque-config">
                                        <div>
                                            <label for="content-number-estoque-input" class="lable-padrao" title="Aqui você vai colocar o conteudo que sera enviado para o usuario"><span class="obrigatorio">*</span>Conteudo do estoque</label>
                                            <input type="text" id="content-number-estoque-input" class="input-padrao" placeholder="EX: Abra um ticket para ativacao">
                                        </div>
                                        <div>
                                            <label for="number-estoque-input" class="lable-padrao"><span class="obrigatorio">*</span>Quantidade de estoque</label>
                                            <input type="number" id="number-estoque-input" class="input-padrao" placeholder="Numero de itens no estoque">
                                        </div>
                                    </div>
                                </div>

                                <div id="cadastro-estoque-config-containner">
                                    <h1 class="title-col">Configure o seu estoque!</h1>
                                    <div id="cadastro-estoque-config-selectType">
                                        <h1 style="text-align: start; width: fit-content;" class="mini-title-col">Marque essa opção caso não queira adicionar o estoque por agora: </h1>
                                        <label id="select-null-stock-label" for="select-null-stock-checkbox" class="switch">
                                            <input id="select-null-stock-checkbox" class="checkbox" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    
                                    <div id="estoque-config-content">
                                        <h1 class="title-col">Adicionar estoque por txt!</h1>
                                        <div id="estoque-config-txt">
                                            <div id="estoque-config-txt-content">
                                                <div style="display: flex; flex-direction: column; justify-content: end; width: 40%;">
                                                    <label for="estoque-config-input-title-txt" class="lable-padrao">Titulo dos itens do txt</label>
                                                    <input type="text"  id="estoque-config-input-title-txt" class="input-padrao" placeholder="Padrão: Itens">
                                                </div>

                                                <div id="estoque-config-txt-file-content">
                                                    <p class="desc-col" id="estoque-config-txt-file-selected">Nenhum arquivo selecionado :(</p>
                                                    <label type="button" class="main-button-product" for="estoque-config-input-file" id="estoque-config-text-file">Adiconar arquivo txt!</label>
                                                    <input type="file" hidden accept=".txt" id="estoque-config-input-file">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top: 2em; margin-bottom: 2em;" class="linha"></div>
                            <div id="buttons-cadastro-clear-product">
                                <button type="button" class="main-button-product redColor" id="clear-product-cadastro">Limpar</button>
                                <button type="button" class="main-button-product greenColor" id="save-product-cadastro">Cadastrar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
    <%- include('./reusable/chatLive.ejs',{user:user,chatItens:chatItens}) %>
    <%- include('./reusable/script.ejs') %>
    
    <div>
        <script>
            let channels =  JSON.parse(("<%= channelsString %>").replace(/&#34;/g, '"')) 
            let channelItensSelectMenu = channels.map(element => {
                return {
                    name: element.name,
                    value: element.id
                }
            })
            let cargo =  JSON.parse(("<%= cargosString %>").replace(/&#34;/g, '"')) 
            let cargoItensSelectMenu = cargo.map(element => {
                return {
                    name: element.name,
                    value: element.id
                }
            })
            let productsString =  JSON.parse(("<%= productString %>").replace(/&#34;/g, '"')) 
        </script>
    </div>

   <script src="/public/js/sales.js"></script>
</body>
</html>